<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>訂單支付頁</title>
    <link rel="stylesheet" href="/static/order/pay/css/style.css">
    <script src="/static/order/pay/js/jquery-3.1.1.min.js" charset="utf-8"></script>
</head>
<body>
<div class="One_Jdbox">
    <div class="Jdbox_head">
        <img src="/static/order/pay/img/logo1.jpg" alt=""><span class="bank">收銀台</span>
        <ul>
            <li><span>[[${session.loginUser.nickname}]]</span></li>
            <li><a href="http://member.mall.com/memberOrder.html">我的訂單</a></li>
            <li>支付幫助</li>
        </ul>
    </div>
    <div class="Jdbox_BuySuc">
        <dl>
            <dd>
            </dd>
        </dl>
    </div>
    <h1>
        <span>TODO 假裝有支付頁</span>
        <br>
        <a href="http://mall.com">繼續購物</a>
    </h1>
</div>
</body>
</html>
