<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城訂單</title>
    <link rel="stylesheet" href="/static/member/css/index.css">
    <style media="screen">
        * {
            font-family: "微軟雅黑";
        }
    </style>
</head>
<body>
<div id="nav">
    <nav>
        <div class="myjd">
            <h3>我的商城</h3>
            <button onclick="location.href='http://mall.com'">返回商城首頁</button>
        </div>
        <ul class="nav_ul">
            <li>首頁</li>
            <li class="li hover">賬戶設置<i class="ul_i"></i>
                <ol>
                    <li>個人信息</li>
                    <li>賬戶安全</li>
                    <li>我的尺碼</li>
                    <li>賬號綁定</li>
                    <li>收貨地址</li>
                    <li>用藥人信息</li>
                    <li>分享綁定</li>
                    <li>郵件訂閱</li>
                    <li>應用授權</li>
                    <li>快捷支付</li>
                    <li>增票資質</li>
                    <li>企業發票</li>
                    <li>採購需求單</li>
                </ol>
            </li>
            <li class="li">社區<i class="ul_i"></i>
                <ol>
                    <li>個人主頁</li>
                    <li>我的活動</li>
                    <li>我的圈子</li>
                    <li>我的帖子</li>
                </ol>
            </li>
            <li>消息</li>
        </ul>
        <div class="right">
            <div class="btn">
                <input type="text" placeholder="空調">
                <button>搜索</button>
            </div>
            <ul class="shop">
                <li><i class="shop_che"></i>我的購物車 >
                    <ol>
                        <li>
                            <img src="/static/member/img/shop.png" alt="">
                            <div>購物車中還沒有商品，趕緊選購吧</div>
                            <div style="clear:both;"></div>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </nav>
</div>
<div style="clear:both;"></div>
<div id="big">
    <div id="bigLeft">
        <ul>
            <h5>訂單中心</h5>
            <li style="color:#E4393C;font-weight:800;">我的訂單</li>
            <li>我的活動</li>
            <li>評價曬單</li>
            <li>我的常購商品<img src="/static/member/img/new.png"></li>
            <li>購物助手</li>
        </ul>
        <ul>
            <h5>關注中心</h5>
            <li>關注的商品</li>
            <li>關注的店鋪</li>
            <li>關注的專輯</li>
            <li>收藏的內容<img src="/static/member/img/new.png"></li>
            <li>關注的活動</li>
            <li>瀏覽歷史</li>
        </ul>
        <ul>
            <h5>資產中心</h5>
            <li>小金庫</li>
            <li>商城白條</li>
            <li>領貨碼</li>
            <li>餘額</li>
            <li>優惠券</li>
            <li>禮品卡</li>
            <li>京豆</li>
            <li>商城鋼鏰<img src="/static/member/img/new.png"></li>
        </ul>
        <ul>
            <h5>特色業務</h5>
            <li>我的營業廳</li>
            <li>商城通信</li>
            <li>定期購</li>
            <li>我的回收單</li>
            <li>節能補貼</li>
            <li>醫藥服務</li>
            <li>流量加油站</li>
            <li>黃金託管</li>
            <li>視頻教育訂單</li>
            <li>海外房產預約</li>
            <li>我的全球購</li>
            <li>裝修服務</li>
        </ul>
        <ul>
            <h5>客戶服務</h5>
            <li>返修退換貨</li>
            <li>價格保護</li>
            <li>意見建議</li>
            <li>我的問答</li>
            <li>購買諮詢</li>
            <li>交易糾紛</li>
            <li>商城維修</li>
            <li>上門預約服務</li>
            <li>我的發票</li>
            <li>舉報中心</li>
        </ul>
        <ul>
            <h5>設置</h5>
            <li>個人信息</li>
            <li>收貨地址</li>
            <li><img src="/static/member/img/59126ae3N1b306e2c.jpg" alt=""></li>
        </ul>
    </div>
    <div id="bigRight">
        <div class="myOrder">
            <p>我的訂單</p>
        </div>
        <div class="allBig">
            <div class="allOrder">
                <ul class="allOrderTop">
                    <li>
                        <ol>
                            <li>全部訂單</li>
                            <li>待付款</li>
                            <li>待收貨</li>
                            <li>待評價</li>
                            <div style="clear:both;"></div>
                        </ol>
                    </li>
                    <li class="allOrderTopLi">我的常購商品</li>
                    <li class="allOrderTopLi">好貨清倉</li>
                    <li class="allOrderTopLastLi">
                        <span>訂單回收站</span>
                        <div>
                            <input type="text" placeholder="商品名稱/商品編號/訂單號">
                            <button class="search"></button>
                            <button calss="gao">高級<i></i></button>
                        </div>
                    </li>
                    <div class="clear:both;"></div>
                </ul>
            </div>
            <div class="details">
                <ul class="detailsUl">
                    <div class="detailsUlDiv">
                        <li class="detailsLiok detailsLi">近三個月訂單<i class="allBig_i"></i>
                            <ol>
                                <li>近三個月訂單</li>
                                <li>今年內訂單</li>
                                <li>今年內訂單</li>
                                <li>2016年訂單</li>
                                <li>2015年訂單</li>
                                <li>2014年訂單</li>
                                <li>2014年以前訂單</li>
                            </ol>
                        </li>
                        <li class="detailsLi">訂單詳情</li>
                        <div style="clear:both;"></div>
                    </div>
                    <li class="detailsLi1">收貨人</li>
                    <li class="detailsLi1">金額</li>
                    <li class="detailsLi1 detailsLiok">全部狀態<i class="allBig_i"></i>
                        <ol>
                            <li>全部狀態</li>
                            <li>等待付款</li>
                            <li>等待收貨</li>
                            <li>已完成</li>
                            <li>已取消</li>
                        </ol>
                    </li>
                    <li class="detailsLi1">操作</li>
                    <div style="clear:both;"></div>
                </ul>
            </div>
            <table class="table" th:each="order:${orders.page.list}">
                <tr>
                    <td colspan="7" style="background:#F7F7F7">
                        <span style="color:#AAAAAA">[[${order.createTime}]]</span>
                        <span><ruby style="color:#AAAAAA">訂單號:</ruby> [[${order.orderSn}]]</span>
                        <span>商城<i class="table_i"></i></span>
                        <i class="table_i5 isShow"></i>
                    </td>
                </tr>
                <tr class="tr" th:each="orderItem,itemStat:${order.orderItemEntityList}">
                    <td colspan="3" style="border-right: 1px solid #ccc">
                        <img style="height: 60px; width: 60px;" th:src="${orderItem.skuPic}" alt="" class="img">
                        <div>
                            <p style="width: 242px; height: auto;overflow: auto">
                                [[${orderItem.skuName}]]
                            </p>
                            <div><i class="table_i4"></i>找搭配</div>
                        </div>
                        <div style="margin-left:15px;">x[[${orderItem.skuQuantity}]]</div>
                        <div style="clear:both"></div>
                    </td>
                    <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}">[[${order.receiverName}]]<i><i
                            class="table_i1"></i></i></td>
                    <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}"
                        style="padding-left:10px;color:#AAAAB1;">
                        <p style="margin-bottom:5px;">總額 ￥[[${#numbers.formatDecimal(order.payAmount,3,2)}]]</p>
                        <hr style="width:90%;">
                        <p>在線支付</p>
                    </td>
                    <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}">
                        <ul>
                            <li style="color:#71B247;" th:if="${order.status==0}">待付款</li>
                            <li style="color:#71B247;" th:if="${order.status==1}">已付款</li>
                            <li style="color:#71B247;" th:if="${order.status==2}">已發貨</li>
                            <li style="color:#71B247;" th:if="${order.status==3}">已完成</li>
                            <li style="color:#71B247;" th:if="${order.status==4}">已取消</li>
                            <li style="color:#71B247;" th:if="${order.status==5}">售後中</li>
                            <li style="color:#71B247;" th:if="${order.status==6}">售後完成</li>
                            <li style="margin:4px 0;" class="hide"><i class="table_i2"></i>跟蹤<i class="table_i3"></i>
                                <div class="hi">
                                    <div class="p-tit">
                                        普通快遞 運單號:390085324974
                                    </div>
                                    <div class="hideList">
                                        <ul>
                                            <li>
                                                [北京市] 在北京昌平區南口公司進行簽收掃描,快件已被拍照(您
                                                的快件已簽收,感謝您使用韻達快遞)簽收
                                            </li>
                                            <li>
                                                [北京市] 在北京昌平區南口公司進行簽收掃描,快件已被拍照(您
                                                的快件已簽收,感謝您使用韻達快遞)簽收
                                            </li>
                                            <li>
                                                [北京昌平區南口公司] 在北京昌平區南口公司進行派件掃描
                                            </li>
                                            <li>
                                                [北京市] 在北京昌平區南口公司進行派件掃描;派送業務員:業務員;聯繫電話:17319268636
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="tdLi">訂單詳情</li>
                        </ul>
                    </td>
                    <td th:if="${itemStat.index==0}" th:rowspan="${itemStat.size}">
                        <button>確認收貨</button>
                        <p style="margin:4px 0; ">取消訂單</p>
                        <p>催單</p>
                    </td>
                </tr>
            </table>
            <div class="order_btm">
                <div>
                    <button>上一頁</button>
                    <span>1</span>
                    <button>下一頁</button>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div class="buy">
            <div class="buy_top">
                <div>買什麼</div>
                <div>查看更多商品專輯</div>
            </div>
            <div style="clear:both;"></div>
            <div class="buy_btm">
                <dl>
                    <dt>
                        <div>最適合冬季的茶</div>
                        <p>不入魔不成仙</p>
                    </dt>
                    <dd class="ab_goods">
                        <div><img src="/static/member/img/bu.jpg" alt=""></div>
                        <div>
                            <img src="/static/member/img/1xb.jpg" alt="">
                            <img src="/static/member/img/1xb1.jpg" alt="">
                            <div>32</div>
                        </div>
                    </dd>
                    <div style="clear:both;"></div>
                    <dd class="ab_operate">
                        <ul>
                            <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>關注 5</li>
                            <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>贊 5</li>
                            <div style="clear:both;"></div>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <div>用新奇搞怪獻給那些有趣的靈魂</div>
                        <p>小太陽驥少</p>
                    </dt>
                    <dd class="ab_goods">
                        <div><img src="/static/member/img/bu1.jpg" alt=""></div>
                        <div>
                            <img src="/static/member/img/2xb.jpg" alt="">
                            <img src="/static/member/img/2xb1.jpg" alt="">
                            <div>17</div>
                        </div>
                    </dd>
                    <div style="clear:both;"></div>
                    <dd class="ab_operate">
                        <ul>
                            <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>關注 5</li>
                            <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>贊 5</li>
                            <div style="clear:both;"></div>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <div>流感來了，如何做好防護？</div>
                        <p>mall-guliyuan</p>
                    </dt>
                    <dd class="ab_goods">
                        <div><img src="/static/member/img/bu2.jpg" alt=""></div>
                        <div>
                            <img src="/static/member/img/3xb.jpg" alt="">
                            <img src="/static/member/img/3xb1.jpg" alt="">
                            <div>23</div>
                        </div>
                    </dd>
                    <div style="clear:both;"></div>
                    <dd class="ab_operate">
                        <ul>
                            <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>關注 2</li>
                            <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>贊 5</li>
                            <div style="clear:both;"></div>
                        </ul>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <div>流感來了，如何做好防護？</div>
                        <p>mall-guliyuan</p>
                    </dt>
                    <dd class="ab_goods">
                        <div><img src="/static/member/img/bu3.jpg" alt=""></div>
                        <div>
                            <img src="/static/member/img/xb.jpg" alt="">
                            <img src="/static/member/img/xb1.jpg" alt="">
                            <div>23</div>
                        </div>
                    </dd>
                    <div style="clear:both;"></div>
                    <dd class="ab_operate">
                        <ul>
                            <li class="guanzhu"><i class="buy_btm_i1 buy_btm_i"></i>關注 4</li>
                            <li class="zhan"><i class="buy_btm_i2 buy_btm_i0"></i>贊 11</li>
                            <div style="clear:both;"></div>
                        </ul>
                    </dd>
                </dl>
                <div style="clear:both;"></div>
            </div>
        </div>
        <div class="mySwiper">
            <div class="mySwiper_like">
                <div class="left">猜你喜歡</div>
                <ol>
                    <li class="liList">1</li>
                    <li class="liList">2</li>
                    <li class="liList">3</li>
                    <div style="clear:both"></div>
                </ol>
                <div style="clear:both"></div>
            </div>
            <ul>
                <li style="display:block;">
                    <dl>
                        <dt><img src="/static/member/image/lunbo.jpg" alt=""></dt>
                        <dd>
                            <div>花王 (Merries) 妙而舒 紙尿褲</div>
                            <div>大號 L54片 尿不濕（9-14千克）</div>
                            <p>＄83.90</p>
                            <span>(已有363668人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/lunbo1.jpg" alt=""></dt>
                        <dd>
                            <div>三隻松鼠 肉乾肉脯 休閑零食</div>
                            <div>豬肉脯自然片150g/袋子</div>
                            <p>＄26.90</p>
                            <span>(已有448374人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/lunbo2.jpg" alt=""></dt>
                        <dd>
                            <div>滿減不止5折三隻松鼠_小賤牛</div>
                            <div>板筋120gx1袋休閑零食特產</div>
                            <p>＄22.80</p>
                            <span>(已有169149人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/lunbo3.jpg" alt=""></dt>
                        <dd>
                            <div>良品鋪子鴨脖子 甜辣味真空小包裝</div>
                            <div>香辣滷味零食休閑小吃熟食190g</div>
                            <p>＄21.90</p>
                            <span>(已有208040人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/lunbo4.jpg" alt=""></dt>
                        <dd>
                            <div>歐萊雅（LOREAL）男士控油</div>
                            <div>（男士洗面奶 收縮毛孔 去黑頭）</div>
                            <p>＄39.00</p>
                            <span>(已有604670人評價)</span>
                        </dd>
                    </dl>
                    <div style="clear:both;"></div>
                </li>
                <li>
                    <dl>
                        <dt><img src="/static/member/image/live.jpg" alt=""></dt>
                        <dd>
                            <div>花王 (Merries) 妙而舒 紙尿褲</div>
                            <div>大號 L54片 尿不濕（9-14千克）</div>
                            <p>＄83.90</p>
                            <span>(已有363668人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/live1.jpg" alt=""></dt>
                        <dd>
                            <div>三隻松鼠 肉乾肉脯 休閑零食</div>
                            <div>豬肉脯自然片150g/袋子</div>
                            <p>＄26.90</p>
                            <span>(已有448374人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/live2.jpg" alt=""></dt>
                        <dd>
                            <div>滿減不止5折三隻松鼠_小賤牛</div>
                            <div>板筋120gx1袋休閑零食特產</div>
                            <p>＄22.80</p>
                            <span>(已有169149人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/live3.jpg" alt=""></dt>
                        <dd>
                            <div>良品鋪子鴨脖子 甜辣味真空小包裝</div>
                            <div>香辣滷味零食休閑小吃熟食190g</div>
                            <p>＄21.90</p>
                            <span>(已有208040人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/live4.jpg" alt=""></dt>
                        <dd>
                            <div>歐萊雅（LOREAL）男士控油</div>
                            <div>（男士洗面奶 收縮毛孔 去黑頭）</div>
                            <p>＄39.00</p>
                            <span>(已有604670人評價)</span>
                        </dd>
                    </dl>
                    <div style="clear:both;"></div>
                </li>
                <li>
                    <dl>
                        <dt><img src="/static/member/image/lunbo5.jpg" alt=""></dt>
                        <dd>
                            <div>花王 (Merries) 妙而舒 紙尿褲</div>
                            <div>大號 L54片 尿不濕（9-14千克）</div>
                            <p>＄83.90</p>
                            <span>(已有363668人評價)</span>
                        </dd>
                    </dl>
                    <dl>
                        <dt><img src="/static/member/image/lunbo6.jpg" alt=""></dt>
                        <dd>
                            <div>三隻松鼠 肉乾肉脯 休閑零食</div>
                            <div>豬肉脯自然片150g/袋子</div>
                            <p>＄26.90</p>
                            <span>(已有448374人評價)</span>
                        </dd>
                    </dl>
                    <div style="clear:both;"></div>
                </li>
            </ul>
        </div>
        <div id="logo">
            <img src="/static/member/img/datu.jpg" alt="">
            <img src="/static/member/img/datu1.jpg" alt="">
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
<!--<div class="footer">-->
<!--    <div class="top">-->
<!--        <ul>-->
<!--            <li class="item fore1">-->
<!--                <i></i>-->
<!--                品類齊全，輕鬆購物-->
<!--            </li>-->
<!--            <li class="item fore2">-->
<!--                <i></i>-->
<!--                多倉直發，極速配送-->
<!--            </li>-->
<!--            <li class="item fore3">-->
<!--                <i></i>-->
<!--                正品行貨，精緻服務-->
<!--            </li>-->
<!--            <li class="item fore4">-->
<!--                <i></i>-->
<!--                天天低價，暢選無憂-->
<!--            </li>-->
<!--            <div style="clear:both;"></div>-->
<!--        </ul>-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="wrap">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="wrap1">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="wrap2">&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt>購物指南</dt>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>購物流程</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>會員介紹</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>生活旅行/團購</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>常見問題</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>大家電</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>聯繫客服</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt>配送方式</dt>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>上門自提</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>211限時達</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>配送服務查詢</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>配送費收取標準</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>海外配送</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt>支付方式</dt>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>貨到付款</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>在線支付</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>分期付款</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>郵局匯款</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>公司轉賬</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt>公司轉賬</dt>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>售後政策</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>價格保護</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>退款說明</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>返修/退換貨</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>取消訂單</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;                <dl>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dt>特色服務</dt>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>奪寶島</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>DIY裝機</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>延保服務</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>商城E卡</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>商城通信</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <dd>商城mall+</dd>&ndash;&gt;-->
<!--&lt;!&ndash;                </dl>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="p1">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">關於我們</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">聯繫我們</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">聯繫客服</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">合作招商</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">合作招商</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">營銷中心</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#" style="width:80px;">手機商城</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">友情鏈接</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">銷售聯盟</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#" style="width:80px;">商城社區</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">風險監測</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">隱私政策</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#" style="width:80px;">商城公益</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#" style="width:80px;">English Site</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#" style="border-right: none">Contact Us</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="p2">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">京公網安備 11000002000088號</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">京ICP證070359號</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">互聯網藥品信息服務資格證編號(京)-經營性-2014-0008</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">新出發京零 字第大120007號</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="p3">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">互聯網出版許可證編號新出網證(京)字150號</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">出版物經營許可證</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">網絡文化經營許可證京網文[2014]2148-348號</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">違法和不良信息舉報電話：4006561155</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="p4">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">Copyright © 2004 - 2017 商城mall.com 版權所有</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">消費者維權熱線：4006067733</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">經營證照</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;    <p class="p5">&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">商城旗下網站：商城錢包</a>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="/static/member/#">商城雲</a>&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--    <p class="img">-->
<!--        <span class="span icon1"></span>-->
<!--        <span class="span icon2"></span>-->
<!--        <span class="span icon3"></span>-->
<!--        <span class="span icon4"></span>-->
<!--        <span class="span icon5"></span>-->
<!--        <span class="span icon6"></span>-->
<!--    </p>-->
<!--    <div style="clear: both"></div>-->
<!--</div>-->
<div class="fixed">
    <div class="teSe">
        <ul>
            <li class="test_li1">
                <ol>
                    <div></div>
                    <li>寬帶</li>
                    <li>我的旅行訂單</li>
                    <li>奪寶箱</li>
                    <li>我的定期送</li>
                    <li>我的競拍保證金</li>
                    <li>商城白條</li>
                    <li>商城回收</li>
                    <li>裝機大師</li>
                    <li>黃金託管業務</li>
                </ol>
            </li>
            <li class="test_li2"></li>
            <li><a href="/static/member/#" class="test_li3"></a></li>
        </ul>
    </div>
</div>
</body>
<script src="/static/member/js/jquery-3.1.1.min.js"></script>
<script src="/static/member/js/index.js"></script>
</html>
