<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javamall</title>
    <link rel="stylesheet" href="/common/css/base.css">
    <link rel="stylesheet" href="/common/css/index_head.css">
    <link rel="stylesheet" href="/common/css/footer.css">
    <link rel="stylesheet" href="/common/css/swiper.css">
    <link rel="stylesheet" href="/index/css/index.css">
    <link rel="stylesheet" href="/index/css/banner.css">
</head>
<body>
<div class='header'>
    <div class="top">
        <div class="w clearfix">
            <div class='setNav fr'>
                <ul>
                    <li id="userFather">
                        <a th:if="${session.loginUser == null}" id="login_btn"
                           href="http://localhost:11000/auth/login.html">
                            登入
                        </a>
                        <a th:if="${session.loginUser == null}" href="http://localhost:11000/auth/reg.html">
                            註冊
                        </a>
                        <a th:if="${session.loginUser != null}">
                            歡迎, [[${session.loginUser.nickname}]]
                        </a>
                        <a th:if="${session.loginUser != null}" href="http://localhost:11000/auth/logout.html">
                            立即退出
                        </a>
                    </li>
                    <li class="line">
                    </li>
                    <li>
                        <a href="http://localhost:11000/orderList.html">我的訂單</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //頂部按鈕區域結束 -->
    <div class="w">
        <div class="top_search clearfix">
            <a href="http://localhost:11000">
                <div class="logo fl">
                    <h1></h1>
                </div>
            </a>
            <div class="search fl">
                <form action="http://localhost:11000/list.html" method="get">
                    <input name="keyword" type="text" id="ipt" placeholder="">
                    <button>搜索</button>
                    <ul id="list"></ul>
                </form>
            </div>
            <div class="shop_car fr">
                <a href="http://localhost:11000/cart/cart.html">購物車</a>
            </div>
        </div>
    </div>
    <!-- logo及 搜索框結束 -->
    <div class="w">
        <div class="tab clearfix">
            <div class="fl s_show">
                <a href="" class="logo_s"></a>
            </div>
            <ul class="fl clearfix">
                <li class="tabItem">
                    <a href="http://localhost:11000">首頁</a>
                </li>
                <li class="tabItem" th:each="cat1:${category}">
                    <!--                    <a href="" th:text="${cat1.getName()}">居家生活</a>-->
                    <a th:text="${cat1.getName()}">居家生活</a>
                    <div class="tabChild clearfix">
                        <dl th:each="cat2:${cat1.getCat2()}">
                            <dt th:text="${cat2.getName()}">夏季煥新</dt>
                            <dd th:each="cat3:${cat2.getCat3()}">
                                <a th:href="@{'/list.html?catalog3Id='+${cat3.getId()}}">
                                    <span th:text="${cat3.getName()}">夏涼嘗鮮</span>
                                </a>
                            </dd>
                        </dl>
                    </div>
                </li>
            </ul>
            <div class="fr s_show">
                <span class="log fl">
                        <ul class='setItem'>
                            <li th:if="${session.loginUser == null}">
                                <a href="http://localhost:11000/auth/login.html">
                                    登入
                                </a>
                            </li>
                            <li th:if="${session.loginUser == null}">
                                <a href="http://localhost:11000/auth/reg.html">
                                    註冊
                                </a>
                            </li>
                            <li th:if="${session.loginUser != null}">
                                <a href="http://localhost:11000/auth/logout.html">
                                    退出
                                </a>
                            </li>
                        </ul>
                    </span>
                <a href="http://localhost:11000/cart/cart.html">
                    <span class="show_car fl">
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- tab區域結束 -->
</div>
<!-- 頭部區域結束 -->
<!-- banner輪播部分開始 -->
<div class="container swiper-container">
    <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide" th:each="item : ${indexAdv.get(0)}">
            <a th:href="@{item.url}"><img th:src="${item.pic}" alt=""></a>
        </div>
    </div>
    <div class="next-button"> ></div>
    <div class="prev-button"> <</div>
    <div class="pagination">
    </div>
</div>
<script src="/index/javascripts/libs/swiper.js"></script>
<script src="/index/javascripts/libs/jquery.js"></script>
<script src="/index/javascripts/libs/banner.js"></script>
<!-- banner輪播部分結束 -->
<!-- 品牌製造 OBM商開始 -->
<div class="obm w">
    <div class="con_header clearfix">
        <div class="h_left fl">
            <a href="list.html" class="fl">
                <h2 class="h_name">品牌製造商</h2>
            </a>
            <span class="fl">工廠直達消費者，剔除品牌溢價</span>
        </div>
        <div class="h_left fr">
            <a href="#">更多製造商 &gt;</a>
        </div>
    </div>
    <div class="obm_body clearfix">
        <div class="con_item" th:each="item:${indexAdv.get(1)}">
            <a th:href="${item.url}">
                    <span class="con_t" th:text="${item.name}">海外製造商

                    </span>
                <img th:src="${item.pic}" src="/index/img/obm1.png" alt="" class="bg">
            </a>
        </div>
    </div>
</div>
<!-- 品牌製造商OBM結束 -->
<!-- 新品首發開始 -->
<div class="new_product w">
    <div class="con_header clearfix">
        <div class="h_left fl">
            <a href="list.html" class="fl">
                <h2 class="h_name">新品首發</h2>
            </a>
            <span class="fl">為你尋覓世間好物</span>
        </div>
        <div class="h_left fr">
            <a href="#">更多新品 &gt;</a>
        </div>
    </div>
    <div class="np_body">
        <div class="autoM">
            <ul>
                <li>
                    <div class="new_item" th:each="item:${indexAdv.get(2)}">
                        <a th:href="${item.url}" href="#" class="img_change">
                            <img th:src="${item.pic}" src="/index/img/np1.png" alt="">
                        </a>
                        <div class="special"></div>
                        <h5 th:text="${item.name}">兒童夏涼遮腿褲4-16歲</h5>
                        <!--<p><span class="price">$29</span></p>-->
                    </div>
                </li>
            </ul>
        </div>
        <!-- <div class="left">&lt;</div>
        <div class="right"> &gt;</div> -->
    </div>
</div>
<!-- 新品首髮結束 -->
<script src="/common/js/jquery.js"></script>
<script src="/common/js/utils.js"></script>
<!--<script src='/common/js/index.js'></script>-->
</body>
</html>