<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商城2020</title>
    <link rel="stylesheet" href="/static/index/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/static/index/css/GL.css">
    <script src="/static/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/index/js/swiper-3.4.2.min.js"></script>
</head>
<body>
<div class="top_find">
    <div class="top_find_son">
        <!--        <img src="/static/index/img/top_find_logo.png" alt="">-->
        <div class="input_find">
            <input type="text" placeholder="卸妝水"/>
            <!--            <span style="background: url(/static/index/img/img_12.png) 0 -1px;"></span>-->
            <a href=""><img src="/static/index/img/img_09.png"/></a>
        </div>
    </div>
</div>
<ul class="left_floor">
    <li class="left_floor_xiang">享品質</li>
    <li class="left_floor_fu">服飾美妝</li>
    <li class="left_floor_jia">家電手機</li>
    <li class="left_floor_dian">電腦數碼</li>
    <li class="left_floor_3C">3C運動</li>
    <li class="left_floor_ai">愛吃</li>
    <li class="left_floor_mu">母嬰家居</li>
    <li class="left_floor_tu">圖書汽車</li>
    <li class="left_floor_you">遊戲金融</li>
    <li class="left_floor_lv">旅行健康</li>
    <li class="left_floor_hai">還沒逛夠</li>
    <li class="left_floor_ding">頂部</li>
</ul>
<header>
    <div class="head">
        <a href=""><img src="/static/index/img/img_01.png"/></a>
        <p>X</p>
    </div>
    <!--頭部-->
    <div class="header_head">
        <div class="header_head_box">
            <a href="" class="img"><img src="/static/index/img/logo.jpg"/></a>
            <b class="header_head_p">
                <a href="">
                    <img src="/static/index/img/img_05.png" style="border-radius: 50%;"/>
                    <!--<span class="glyphicon glyphicon-map-marker"></span>-->
                    台灣</a>
                <div class="header_head_p_cs">
                    <a href="" style="background: #C81623;color: #fff;">台灣</a>
                    <a href="">港澳</a>
                    <a href="">台灣</a>
                    <a href="">海外</a>
                </div>
            </b>
            <ul>
                <li>
                    <a th:if="${session.loginUser != null}">歡迎, [[${session.loginUser.nickname}]]</a>
                    <a th:if="${session.loginUser == null}" href="http://auth.mall.com/login.html">你好，請登入</a>
                </li>
                <li>
                    <a th:if="${session.loginUser == null}" href="http://auth.mall.com/reg.html"
                       class="li_2">免費註冊</a>
                </li>
                <li>
                    <a th:if="${session.loginUser != null}" href="http://auth.mall.com/loguot.html"
                       class="li_2">立即退出</a>
                </li>
                <span>|</span>
                <li>
                    <a href="http://member.mall.com/memberOrder.html">我的訂單</a>
                </li>
            </ul>
        </div>
    </div>
    <!--搜索導航-->
    <div class="header_sous">
        <div class="header_form">
            <input id="searchText" type="text" placeholder=""/>
            <!--            <span style="background: url(/static/index/img/img_12.png) 0 -1px;"></span>-->
            <!--<button><i class="glyphicon"></i></button>-->
            <a href="javascript:search();"><img src="/static/index/img/img_09.png"/></a>
        </div>
        <div class="header_ico">
            <div class="header_gw">
                <img src="/static/index/img/img_15.png"/>
                <span><a href="http://cart.mall.com/cart.html">我的購物車</a></span>
                <span>0</span>
            </div>
            <div class="header_ko">
                <p>購物車中還沒有商品，趕緊選購吧！</p>
            </div>
        </div>
        <div class="header_form_nav">
            <ul>
                <li>
                    <a href="" class="aaaaa">滿999減300</a>
                </li>
                <li>
                    <a href="">金立S11</a>
                </li>
                <li>
                    <a href="">農用物資</a>
                </li>
                <li>
                    <a href="">保暖特惠</a>
                </li>
                <li>
                    <a href="">洗衣機節</a>
                </li>
                <li>
                    <a href="">七度空間衛生巾</a>
                </li>
                <li>
                    <a href="">自動波箱油</a>
                </li>
                <li>
                    <a href="">超市</a>
                </li>
            </ul>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="">秒殺</a>
                </li>
                <li>
                    <a href="">優惠券</a>
                </li>
                <li>
                    <a href="">閃購</a>
                </li>
                <li>
                    <a href="">拍賣</a>
                </li>
            </ul>
            <div class="spacer">|</div>
            <ul>
                <li>
                    <a href="">服飾</a>
                </li>
                <li>
                    <a href="">超市</a>
                </li>
                <li>
                    <a href="">生鮮</a>
                </li>
                <li>
                    <a href="">全球購</a>
                </li>
            </ul>
            <div class="spacer">|</div>
            <ul>
                <li>
                    <a href="">金融</a>
                </li>
            </ul>
        </nav>
        <div class="right">
            <a href=""><img src="/static/index/img/img_21.png"/></a>
        </div>
    </div>
    <!--輪播主體內容-->
    <div class="header_main">
        <div class="header_banner">
            <div class="header_main_left">
                <ul>
                    <li th:each="category : ${categories}">
                        <a href="" class="header_main_left_a" th:attr="ctg-data = ${category.catId}"><b
                                th:text="${category.name}">家用電器222</b></a>
                    </li>
                </ul>
            </div>
            <div class="header_main_center">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href=""><img src="/static/index/img/lunbo.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href=""><img src="/static/index/img/lunbo3.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href=""><img src="/static/index/img/lunbo6.png"/></a>
                        </div>
                        <div class="swiper-slide">
                            <a href=""><img src="/static/index/img/lunbo7.png"/></a>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="header_main_center_b">
                    <a href=""><img src="/static/index/img/5a13bf0bNe1606e58.jpg"/></a>
                    <a href=""><img src="/static/index/img/5a154759N5385d5d6.jpg"/></a>
                </div>
            </div>
            <div class="header_main_right">
                <div class="header_main_right_user">
                    <div class="user_info">
                        <div class="user_info_tou">
                            <a href=""><img class="" src="/static/index/img/touxiang.png"></a>
                        </div>
                        <div class="user_info_show">
                            <p class="">Hi, <a th:if="${session.loginUser != null}">
                                [[${session.loginUser.nickname}]]</a>
                                <a th:if="${session.loginUser == null}">訪客</a>
                            </p>
                            <p>
                                <a th:if="${session.loginUser == null}" href="http://auth.mall.com/login.html">登入</a>
                                <a th:if="${session.loginUser == null}" href="http://auth.mall.com/reg.html">註冊</a>
                                <a th:if="${session.loginUser != null}" href="http://auth.mall.com/loguot.html"
                                   class="li_2">登出</a>
                            </p>
                        </div>
                    </div>
                    <div class="user_info_hide">
                        <a href="">新人福利</a>
                        <a href="">會員獨享</a>
                    </div>
                </div>
                <div class="header_main_right_new">
                    <div class="header_new">
                        <div class="header_new_t">
                            <p class="active">
                                <a href="">促銷</a>
                            </p>
                            <p>
                                <a href="">公告</a>
                            </p>
                            <a href="">更多</a>
                        </div>
                        <div class="header_new_connter">
                            <div class="header_new_connter_1">
                                <ul>
                                    <li>
                                        <a href="">全民紙巾大作戰</a>
                                    </li>
                                    <li>
                                        <a href="">傢具建材滿999減300元</a>
                                    </li>
                                    <li>
                                        <a href="">黑科技冰箱，下單立減千元</a>
                                    </li>
                                    <li>
                                        <a href="">搶102減101神券！</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header_new_connter_1" style="display: none;">
                                <ul>
                                    <li>
                                        <a href="">關於召回普利司通（天津）輪胎有限公司2個規格乘用車輪胎的公告</a>
                                    </li>
                                    <li>
                                        <a href="">物流推出配送員統一外呼電話"95056”</a>
                                    </li>
                                    <li>
                                        <a href="">天府大件運營中心開倉公告</a>
                                    </li>
                                    <li>
                                        <a href="">大件物流“送裝一體”服務全面升級！</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_main_right_ser">
                    <div class="ser_box">
                        <ul>
                            <li class="ser_box_item">
                                <a href="">
                                    <img src="/static/index/img/huafei.png"/>
                                    <span>話費</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="">
                                    <img src="/static/index/img/jipiao.png"/>
                                    <span>機票</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="">
                                    <img src="/static/index/img/jiudian.png"/>
                                    <span>酒店</span>
                                </a>
                            </li>
                            <li class="ser_box_item">
                                <a href="">
                                    <img src="/static/index/img/youxi.png"/>
                                    <span>遊戲</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/qiyegou.png"/>
                                    <span>企業購</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/jiayouka.png"/>
                                    <span>加油卡</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/dianyingpiao.png"/>
                                    <span>電影票</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/huochepiao.png" style="height:20px;"/>
                                    <span>火車票</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/zhongchou.png"/>
                                    <span>眾籌</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/licai.png" style="height:22px;"/>
                                    <span>理財</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/lipinka.png" style="height:14px;"/>
                                    <span>禮品卡</span>
                                </a>
                            </li>
                            <li class="ser_box_item1">
                                <a href="">
                                    <img src="/static/index/img/baitiao.png" style="height:20px;"/>
                                    <span>白條</span>
                                </a>
                            </li>
                        </ul>
                        <div class="ser_box_aaa">
                            <div class="ser_box_aaa_one">
                                <div class="ser_box_aaa_nav">
                                    <ol>
                                        <li class="active">
                                            <a href="">話費</a>
                                        </li>
                                        <li>
                                            <a href="">機票</a>
                                        </li>
                                        <li>
                                            <a href="">酒店</a>
                                        </li>
                                        <li>
                                            <a href="">遊戲</a>
                                        </li>
                                    </ol>
                                    <div class="ser_ol">
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active">話費充值</a>
                                                <a>流量充值</a>
                                                <a>套餐變更</a>
                                                <div class="ser_ol_div">
                                                    <p>號碼<input type="text"/></p>
                                                    <p style="margin: 10px 0;">面值
                                                        <select name="">
                                                            <option value="">100元</option>
                                                            <option value="">20元</option>
                                                            <option value="">50元</option>
                                                            <option value="">10元</option>
                                                            <option value="">2元</option>
                                                        </select>
                                                        <span>＄98.0-＄100.0</span></p>
                                                </div>
                                                <button>快速充值</button>
                                                <p class="p">搶99減50元話費</p>
                                            </ul>
                                        </div>
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active">國際機票</a>
                                                <a>國際/港澳</a>
                                                <a>特惠活動</a>
                                                <div class="ser_ol_div1">
                                                    <p>
                                                        <input type="radio" name="a" style="vertical-align:middle;"/>單程
                                                        <input type="radio" name="a" style="vertical-align:middle;"/>往返
                                                    </p>
                                                    <input type="text" placeholder="出發城市"/>
                                                    <input type="text" placeholder="到達城市"/>
                                                    <input type="text" placeholder="日期"/>
                                                </div>
                                                <button>機票查詢</button>
                                                <span class="p">當季熱門特惠機票</span>
                                            </ul>
                                        </div>
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active" style="width: 50%;">國內港澳台</a>
                                                <a style="width: 50%;">促銷活動</a>
                                                <div class="ser_ol_div1">
                                                    <input type="text" placeholder="出發城市" style="margin-top: 10px;"/>
                                                    <input type="text" placeholder="到達城市"/>
                                                    <input type="text" placeholder="日期"/>
                                                    <input type="text" placeholder="酒店 商圈 地標"/>
                                                </div>
                                                <button>酒店查詢</button>
                                                <span class="p">訂酒店到</span>
                                            </ul>
                                        </div>
                                        <div class="ser_ol_li">
                                            <ul>
                                                <div class="guanbi">X</div>
                                                <a class="active">點卡</a>
                                                <a>QQ</a>
                                                <a>頁游</a>
                                                <div class="ser_ol_div1">
                                                    <input type="text" placeholder="遊戲" style="margin-top: 15px;"/>
                                                    <br/>面值
                                                    <select name="" style="margin: 8px 0;">
                                                        <option value="">面值</option>
                                                        <option value="">面值</option>
                                                        <option value="">面值</option>
                                                    </select><span style="color: #C81623;">＄0.00</span>
                                                    <p>
                                                        <input type="radio" name="a"
                                                               style="width: 15px;vertical-align:middle;"/>直充
                                                        <input type="radio" name="a"
                                                               style="width: 15px;vertical-align:middle;"/>卡密
                                                    </p>
                                                </div>
                                                <button>快速充值</button>
                                                <span class="p">吃雞就要快人一步</span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_banner1">
            <a href="" class="a">
                <img src="/static/index/img/5a1e5ce2N034ce344.png" class="aa"/>
            </a>
            <div class="header_banner1_div">
                <p>X</p>
            </div>
        </div>
    </div>
</header>
<div class="section_second">
    <!-- 第一層 -->
    <div class="section_second_header">
        <p class="section_second_header_img"></p>
        <div class="section_second_header_left">
            <p></p>
            <span class="">秒殺</span>
            <span>總有你想不到的低價</span>
            <span>
        </span>
        </div>
        <div class="section_second_header_right">
            <p>當前場次</p>
            <span class="section_second_header_right_hours">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_minutes">00</span>
            <span class="section_second_header_right_mao">：</span>
            <span class="section_second_header_right_second">00</span>
            <p>後結束</p>
        </div>
    </div>
    <div class="section_second_list">
        <div class="swiper-container swiper_section_second_list_left">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- 動態拼裝秒殺商品信息 -->
                    <ul id="seckillSkuContent"></ul>
                </div>
                <div class="swiper-slide">
                    <ul>
                        <li>
                            <img src="/static/index/img/section_second_list_img6.jpg" alt="">
                            <p>Apple iMac 21.5英寸一體機（2017新款四核Core i5 處理器/8GB內存/1TB/RP555顯卡/4K屏 MNDY2CH/A） Apple iMac
                                21.5英寸一體機（2017新款四核Core i5 處理</p>
                            <span>＄9588.00</span><s>＄10288.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img7.jpg" alt="">
                            <p>中柏（Jumper）EZpad 4S Pro 10.6英寸二合一平板電腦（X5 z</p>
                            <span>＄848.00</span><s>＄899.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img8.jpg" alt="">
                            <p>飛利浦（PHILIPS）電動牙刷HX6761/03亮白型成人充電式聲波震動牙刷粉色 飛利浦（PHILIPS）電動牙刷HX6761/03亮白型成人充電式聲波
                            </p>
                            <span>＄379.00</span><s>＄698.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img9.jpg" alt="">
                            <p>美的(Midea) 258升 變頻智能三門冰箱 一級能效 風冷無霜 中門</p>
                            <span>＄3088.00</span><s>＄3299.00</s>
                        </li>
                        <li>
                            <img src="/static/index/img/section_second_list_img10.jpg" alt="">
                            <p>【第二件減50元】蒙羊 內蒙古羔羊羊肋排 2.4斤</p>
                            <span>＄99.90</span><s>＄199.00</s>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-button-prev second_list">
                <p></p>
            </div>
            <div class="swiper-button-next second_list">
                <p></p>
            </div>
        </div>
        <ul class="section_second_list_right">
            <li>
                <img src="/static/index/img/section_second_list_right_img.jpg" alt="">
            </li>
            <li>
                <img src="/static/index/img/section_second_list_right_img.png" alt="">
            </li>
            <div class="section_second_list_right_button">
                <p class="section_second_list_right_button_active"></p>
                <p></p>
            </div>
        </ul>
    </div>
</div>
</body>
<script type="text/javascript">
    function search() {
        var keyword = $("#searchText").val()
        window.location.href = "http://search.mall.com/list.html?keyword=" + keyword;
    }

    $.get("http://seckill.mall.com/getCurrentSeckillSkus", function (res) {
        if (res.data.length > 0) {
            res.data.forEach(function (item) {
                $("<li onclick='toDetail(" + item.skuId + ")'></li>").append($("<img style='width: 130px; height: 130px' src='" + item.skuInfo.skuDefaultImg + "' />"))
                    .append($("<p>" + item.skuInfo.skuTitle + "</p>"))
                    .append($("<span>" + item.seckillPrice + "</span>"))
                    .append($("<s>" + item.skuInfo.price + "</s>"))
                    .appendTo("#seckillSkuContent");
            })
        }
    })

    function toDetail(skuId) {
        location.href = "http://item.mall.com/" + skuId + ".html";
    }
</script>
<script type="text/javascript" src="/static/index/js/text.js"></script>
<script type="text/javascript" src="/static/index/js/header.js"></script>
<script type="text/javascript" src="/static/index/js/secend.js"></script>
<script type="text/javascript" src="/static/index/js/zz.js"></script>
<script type="text/javascript" src="/static/index/js/index.js"></script>
<script type="text/javascript" src="/static/index/js/left,top.js"></script>
<script type="text/javascript" src="/static/index/js/catalogLoader.js"></script>
</html>
